altair==4.0.0
click==8.1.8
numpy==2.0.2
openpyxl==3.1.5
packaging==23.1
pandas==2.3.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.2.0
plotly==5.14.1
pluggy==1.0.0
pre_commit==4.3.0
protobuf==4.25.8
pyarrow==14.0.1
pydeck==0.8.1b0
pytest==7.3.1
pytest-cov==7.0.0
scipy==1.13.1
streamlit==1.30.0
xlrd==1.2.0
XlsxWriter==3.2.9
